*{
    margin: 0;padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    background-color: #f7f7f7;
}
.top{
    width: 100%;
    height: 40px;
    overflow: hidden;
}
.top>*{
    float: left;
}
.top .menu_btn{
    width: 40px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    font-size: 26px;
}
.top .menu_btn:hover{
    background-color: #0001;
}
.top .jsq_title{
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
}
.show_frame{
    width: 100%;
    height: 120px;
    position: relative;
}
.show_frame .log{
    font-size: 46px;
    font-weight: 500;
    position: absolute;
    bottom: 0;right: 0;
    line-height: 80px;
    padding-right: 16px;
}
.show_frame .mes{
    position: absolute;
    bottom: 80px;right: 0;
    line-height: 30px;
    padding-right: 16px;
    color: #aaa;
}
.ajs{
    width: 100%;
    height: calc(100% - 160px);
}
.ajs table{
    width: 100%;
    height: 100%;
}
.ajs table td{
    margin: 1px;
    background-color: #fff;
    width: calc(25% - 2px);
    text-align: center;
    border: #0000 solid 1px;
}
.ajs td.tm{
    background-color: #ffffff66;
}
.ajs td.b{
    overflow: hidden;
}
.ajs td.b span{
    display: block;
    transform: scale(1.6);
    font-weight: 300;
}
.ajs td.dn{
    background-color: #00f4;
}
.ajs td:hover{
    background-color: #6663;
    border: #6661 solid 1px;
    box-sizing: border-box;
}
.ajs td.dn:hover{
    background-color: #00f7;
}
.ajs td:active{
    background-color: #6666;
}
.ajs td.dn:active{
    background-color: #00f9;
}