
*{
    margin: 0;
    padding: 0;
}
.tc{
    width: 100%;
    height: calc(100% - 59px);
    color: #ddd;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}